

.image-container img {
 display: block;
 width:100%;
 height: auto;
}

.overlay-text {
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 color: white;
 font-size:20px;
 background-color: rgba(0,0,0,0.5);
 padding:10px20px;
 border-radius:5px;
 text-align: center;
}


.button:active
{
    box-shadow: 2px 5px rgb(238, 69, 69);
    transform: translateY(4px);
}
